{% extends 'store/index.html' %}

{% block title %}Product {% endblock title %}

{% block content %}
<div class="latest-products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Latest Products</h2>
                    <a href="products.html">view all products <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
          
            <div class="col-md-4">
                <div class="product-item">
                    <a href="#" class="figure-img"><img class="img-fluid" src="{{ detail.image.url }}" alt=""></a>
                    <div class="down-content">
                        <a href="#">
                            <h4>{{ detail.product_name }}</h4>
                        </a>
                        <h6>{{ detail.price }}</h6>
                        <p>{{ detail.description }}</p>
                        <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>Reviews (24)</span>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
{% endblock content %}